<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>File Upload and Video Streaming</title>
</head>
<body>
    <h1>Upload de Arquivos</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="video" id="video-input">
        <button type="button" id="upload-button">Enviar</button>
    </form>

    <h1>Lista de Vídeos</h1>
    <ul id="lista-videos">
        <li><a href="#" id-video="video.mp4">Vídeo 1</a></li>
        <li><a href="#" id-video="video2.mp4">Vídeo 2</a></li>
        <li><a href="#" id-video="video3.mp4">Vídeo 3</a></li>
        <li><a href="#" id-video="video4.mp4">Vídeo 4</a></li>
    </ul>
    <video width="640" height="360" controls id="video-player">
        Seu navegador não suporta a exibição de vídeos.
    </video>

</body>
<script>
    const listaVideos = document.getElementById("lista-videos");
    const reprodutor = document.getElementById("video-player");
    const form = document.getElementById("upload-form");
    const upload_button = document.getElementById('upload-button');

    listaVideos.addEventListener("click", function(e) {
        if (e.target.tagName === "A") {
            e.preventDefault();
            const dataSrc = e.target.getAttribute("id-video");
            const videoUrl = "/stream?id="+dataSrc;
            const source = reprodutor.firstElementChild;
            reprodutor.src = videoUrl;
            reprodutor.load();
            reprodutor.play();
        }
    });

    upload_button.addEventListener('click', function () {
            console.log('Upload')
            var fileInput = document.getElementById('video-input');
            var file = fileInput.files[0];
            var serialized_file = file.stream();
            var formData = new FormData()
            formData.append('file', file);
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.log(error);
            });
        });
</script>
</html>